* {
margin: 0;
padding: 0;
font-family: Helvetica, sans-serif;
}

main {
position: relative;
left: 15%;
bottom: 30%;
max-width: 70%;
}

.sidenav {
height: 100%; /* Full-height: remove this if you want "auto" height */
width: 160px; /* Set the width of the sidebar */
position: fixed; /* Fixed Sidebar (stay in place on scroll) */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 20px;
font-size: 20px;
margin-left: 7%;
}

.bird-icon {
width: 40px;
display: inline-block;
}

.navbar-item:hover {
text-decoration: none;
color: black;
background-color: gray;
}

.navbar-item {
color: black;
border-radius: 10px;
padding: 5px;
margin: 15px;
display: inline-block;
}



.chirp-div {
border: 1px solid gray;
}

.chirp-img {
width: 100%;
}

.chirp-btn {
background-color: blue;
color: white;
width: 60px;
height: 20px;
border: none;
border-radius: 5px;
font-weight: bold;
}

.chirp-text-input {
height: 100px;
height: 100px;
width: 300px;
}

.profile-div {
width: 45%;
}

.banner-img {
width: 528px;
height: 300px;
}

.profile-img {
border-radius: 50%;
width: 100px;
}

.profile-img-sml {
border-radius: 50%;
width: 60px;
}

.follow-btn-div {
border-radius: 5px;
background-color: black;
width: 120px;
height: 30px;
text-align: center;

}

.follow-btn {
color: white;
font-weight: bold;
padding: 15px;

}

.follow-btn:hover{
color: white;
text-decoration: none;
}



.search-div {
position: fixed;
left: 75%;
top: 2%;
}

.search-btn {
background-color: blue;
color: white;
width: 60px;
border-radius: 5px;
font-weight: bold;
border: none;
}

.who_follow_div {
background-color: #f2f2f2;
width: 20%;
position: fixed;
left: 78%;
top: 10%
}

.border{
border: 1px gray solid;
}