{% extends "base.html" %}

{% block title %} Account {% endblock %}

{% block body %}

    <div class="root">
    <main>
        <div class="profile-div">
            <img class="banner-img" src="{{ user_info.banner_pic }}">
            <br>
            <img class="profile-img" src="{{ user_info.pro_pic }}">

            {% if not_self %}
                {% if is_following %}
                <div class="follow-btn-div">
                    <a class="follow-btn" href="{{ url_for( 'unfollow', to_follow=to_follow) }}">Following</a>
                </div>
                {% else %}
                <div class="follow-btn-div">
                    <a class="follow-btn" href="{{ url_for( 'follow', to_follow=to_follow) }}">Follow</a>
                </div>
                {% endif %}
            {% endif %}
            <h1>{{ user_info.username }}</h1>
            {% if user_info.bio %}
            <h3>{{user_info.bio }} </h3>
            {% endif %}
            <p>Joined {{ user_info.joined_date }}</p>
            <a href="{{ url_for( 'following', account=to_follow) }}">{{user_info.following_num }} Following</a>
            <a href="{{ url_for( 'followers', account=to_follow) }}">{{user_info.followers_num }} Followers</a>
        </div>


        {% for chirp in chirps %}
        <div class="chirp-div">
            {% if chirp.original_by %}
            <h2>Retweeted by {{chirp.username}}</h2>
            {% endif %}

            <h1>{{ chirp.username }}</h1>
            <p>{{ chirp.text_content }}<p>
            {% if chirp.media_content %}
            <img class="chirp-img" src="{{ chirp.media_content }}">
            {% endif %}
            <p>{{ chirp.date_date }}</p>
            <a href="{{url_for('reply', chirp_id=chirp.id)}}">Reply</a>
            {% if not chirp.original_by %}
            <a href="{{url_for('rechirp', chirp_id=chirp.id)}}">Rechirp</a>
            {% endif %}
            <a href="{{url_for('like', chirp_id=chirp.id)}}"> {{ chirp.likes }} Likes</a>
            <a href="{{url_for('bookmark_verb', chirp_id=chirp.id)}}">Bookmark</a>
        </div>
        {% endfor %}


    </main>
    </div>


{% endblock %}