{% extends "base.html" %}

{% block title %} Account {% endblock %}

{% block body %}

    <div class="root">
    <main>
        <div class="profile-div">
            {% if user_info[8] %}
            <img class="banner-img" src="{{ user_info[8] }}">
            {% else %}
            <img class="banner-img" src="/static/planets.jpeg">
            {% endif %}
             {% if user_info[7] %}
            <img class="profile-img" src="{{ user_info[7] }}">
            {% else %}
            <img class="profile-img" src="/static/profile.jpg">
            {% endif %}
            {% if not self %}
                {% if is_following %}
                <div class="follow-btn-div">
                    <a class="follow-btn" href="{{ url_for( 'unfollow', to_follow=to_follow) }}">Following</a>
                </div>
                {% else %}
                <div class="follow-btn-div">
                    <a class="follow-btn" href="{{ url_for( 'follow', to_follow=to_follow) }}">Follow</a>
                </div>
                {% endif %}
            {% endif %}
            <h1>{{ user_info[1] }}</h1>
            {% if user_info[6] %}
            <h3>{{user_info[6] }} </h3>
            {% endif %}
            <p>Joined {{user_info[3] }}</p>
            <a href="{{ url_for( 'following', account=to_follow) }}">{{user_info[4]}} Following</a>
            <a href="{{ url_for( 'followers', account=to_follow) }}">{{user_info[5]}} Followers</a>
        </div>


        {% for chirp in chirps %}
        <div class="chirp-div">
            <h1>{{ chirp[1] }}</h1>
            <p>{{ chirp[2] }}<p>
            {% if chirp[3] %}
            <img class="chirp-img" src="{{ chirp[3] }}">
            {% endif %}
            <p>{{ chirp[5] }}</p>
            <a href="{{url_for('reply', chirp_id=chirp[0])}}">Reply</a>
            <a>Retweet</a>
            <a>Like</a>
        </div>
        {% endfor %}


    </main>
    </div>


{% endblock %}