{% extends "base.html" %}

{% block title %} Bookmarks {% endblock %}

{% block body %}

<main>
    <h1>Bookmarks!</h1>
    {% if not marked %}
    <h1>C'mon, go out there and bookmark something!</h1>
    {% endif %}

    {% for mark in marked %}
    <div class="chirp-div">
        <a href="{{url_for('account', to_follow=mark[1])}}">{{ mark[1] }}</a>
        <h1>{{ mark[1] }}</h1>
        <p>{{ mark[2] }}<p>
        {% if mark[3] %}
        <img class="chirp-img" src="{{ mark[3] }}">
        {% endif %}
        <p>{{ mark[5] }}</p>
        <a href="{{url_for('reply', chirp_id=mark[0])}}">Reply</a>
        <a>Retweet</a>
        <a>Like</a>
    </div>
    {% endfor %}

</main>



{% endblock %}