{% extends "base.html" %}

{% block title %} Bookmarks {% endblock %}

{% block body %}

<main>
    <h1>Bookmarks!</h1>
    {% if not marked %}
    <h1>C'mon, go out there and bookmark something!</h1>
    {% endif %}

    {% for mark in marked %}
    <div class="chirp-div">
        {% if mark.users.pro_pic %}
        <img class="profile-img-sml" src="{{ mark.users.pro_pic }}">
        {% else %}
        <img class="profile-img-sml" src="/static/profile.jpg">
        {% endif %}
        <a href="{{url_for('account', to_follow=mark.username)}}">{{ mark.username }}</a>
        <h1>{{ mark.username }}</h1>
        <p>{{ mark.text_content }}<p>
        {% if mark.media_content %}
        <img class="chirp-img" src="{{ mark.media_content }}">
        {% endif %}
        <p>{{ mark.date_date }}</p>
        <a href="{{url_for('reply', chirp_id=mark.id)}}">Reply</a>
        <a href="{{url_for('rechirp', chirp_id=mark.id)}}">Rechirp</a>
        <a> {{mark.likes}} Likes</a>
        <a href="{{url_for('del_bookmark', chirp_id=mark.id)}}">Remove</a>
    </div>
    {% endfor %}

</main>



{% endblock %}