{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block body %}

            <div>
                <form action="/home" method="post">
                    <input class="chirp-text-input" placeholder="What's happening?"  name="chirp" type="text">
                    <input class="media-input" placeholder="Media?"  name="media" type="text">
                    <input class="chirp-btn" type="submit" value="Chirp">
                </form>
            </div>
            {% for chirp in chirps %}
            <div class="chirp-div">
                <!-- if a retweet -->
                {% if chirp.original_by %}
                    <h3 class="pro-pic">Rechirped by {{chirp.username}}</h3>
                    {% if chirp.users.pro_pic %}
                    <img class="profile-img-sml" src="{{ chirp.users.pro_pic }}">
                    {% else %}
                    <img class="profile-img-sml" src="/static/profile.jpg">
                    {% endif %}
                    <a href="{{url_for('account', to_follow=chirp.original_by)}}">{{ chirp.original_by }}</a>
                    <h4>{{ chirp.text_content }}<h4>
                    {% if chirp.media_content %}
                    <img class="chirp-img" src="{{ chirp.media_content }}">
                    {% endif %}
                    <h6>{{ chirp.date_date }}</h6>
                    <a href="{{url_for('reply', chirp_id=chirp.id)}}">Reply</a>
                    {% if not chirp.original_by %}
                    <a href="{{url_for('rechirp', chirp_id=chirp.id) }}">Rechirp</a>
                    {% endif %}
                    <a href="{{url_for('like', chirp_id=chirp.id)}}"> {{ chirp.likes }} Likes</a>

                <!-- not a retweet -->
                {% else %}
                    {% if chirp.users.pro_pic %}
                    <img class="profile-img-sml" src="{{ chirp.users.pro_pic }}">
                    {% else %}
                    <img class="profile-img-sml" src="/static/profile.jpg">
                    {% endif %}
                    <a href="{{url_for('account', to_follow=chirp.username)}}">{{ chirp.username }}</a>
                    <h4>{{ chirp.text_content }}</h4>
                    {% if chirp.media_content %}
                    <img class="chirp-img" src="{{ chirp.media_content }}">
                    {% endif %}
                    <h6>{{ chirp.date_date }}</h6>
                    <a href="{{url_for('reply', chirp_id=chirp.id)}}">Reply</a>
                    {% if not chirp.original_by %}
                    <a href="{{url_for('rechirp', chirp_id=chirp.id) }}">Rechirp</a>
                    {% endif %}
                    <a href="{{url_for('like', chirp_id=chirp.id)}}"> {{ chirp.likes }} Likes</a>
                    <a href="{{url_for('bookmark_verb', chirp_id=chirp.id)}}">Bookmark</a>

                {% endif %}


            </div>
            {% endfor %}


{% endblock %}